<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="noticeMapper">
  
  
  
	<select id="boardList" parameterType="Pager" resultType="BoardNoticeVO">
		select * from
		(select N.*, rownum R from
		(select * from notice
		<choose>
			<when test="kind == 'kT'">
				where title like '%'||#{search}||'%'
			</when>
			<when test="kind == 'kW'">
				where writer like '%'||#{search}||'%'
			</when>
			<otherwise>
				where contents like '%'||#{search}||'%'
			</otherwise>
		</choose>
		order by num desc) N)
		where R between #{startRow} and #{lastRow}
	</select>


	<select id="boardCount" parameterType="Pager" resultType="Integer">
		select count(num) from notice
		<choose>
			<when test="kind == 'kT'">  <!-- || : 연결연산자  -->
				where title like '%'||#{search}||'%'
			</when>
			<when test="kind == 'kW'">
				where writer like '%'||#{search}||'%'
			</when>
			<otherwise>
				where contents like '%'||#{search}||'%'
			</otherwise>
		</choose>
	</select>
	
	<insert id="boardWrite" parameterType="BoardVO">
		insert into notice values (board_seq.nextval,#{title}, #{writer},#{contents}, sysdate, 0)
	</insert>
	
	<delete id="boardDelete" parameterType="BoardVO">
		delete notice where num = #{num}
	</delete>
	
	<select id="boardSelect" parameterType="BoardVO" resultType="BoardNoticeVO">
		select * from notice where num = #{num}
	</select>
	
  	<update id="boardUpdate" parameterType="BoardVO">
  		update notice set title = #{title}, contents = #{contents} 		
  		where num = #{num}
  	</update>
	
  
  
  </mapper>